
.idea/encodings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/other.xml
.idea/untitled.iml
.idea/vcs.xml
.idea/workspace.xml
__pycache__/analysis.cpython-37.pyc
__pycache__/analyze.cpython-37.pyc
__pycache__/close.cpython-37.pyc
__pycache__/code4.cpython-37.pyc
__pycache__/complex.cpython-37.pyc
__pycache__/damper.cpython-37.pyc
__pycache__/distribution.cpython-37.pyc
__pycache__/gcd.cpython-37.pyc
__pycache__/HW1.cpython-37.pyc
__pycache__/msd.cpython-37.pyc
__pycache__/null_filter.cpython-37.pyc
__pycache__/sensor.cpython-37.pyc
__pycache__/sin_wave.cpython-37.pyc
__pycache__/sorted.cpython-37.pyc
__pycache__/volumes.cpython-37.pyc
__pycache__/words.cpython-37.pyc
*.pyc
*.zip
waypoints
*.exe
better_waypoints
